body{
    width: 275px;
    height:500px;
}

.wrapper{
    height: 100%;
    width: 100%;
    padding:0;
}

.headerInfo{
    margin:0;
    height:15%;
    width: 100%;
    border-bottom: 1px solid lightgray;
    
}

.name{
    font-size: 1.45rem;
}

.bodyInfo{
    margin:0;
    height:20%;
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 1px solid lightgray;    
}

.instruction{
    text-align: center;
    height:40%;
    font-size: medium;
}

.btn-size{
    height: 70%;
    width: 90%;
}

.btn-inside-size{
  height:100%;
  width:100%;
}

.btn-gradient{
    background: #4776E6;  /* fallback for old browsers */
	  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
	  background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
    font-weight: 500;
}

.padding-inside{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

top-buffer-10{
  margin-top: 10px;
}

.reportInfo{
    height:55%;
    margin-top:50px;
}

.cancelInfo{
  margin-top:20px;
}

.placeholder{
    margin:0;
    height:200px;
    width:200px;
}

.validityBox{
	display: none;
}

.validityBoxVis{
	margin:0 auto;
	margin-top:10px;
	height:10%;
	width:250px;
}

.rp_text{
  cursor: pointer;
}

#bar{
  margin-top:15px;
}

/* Spinner */

.spinner {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background-color: rgb(82, 143, 212);
  
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }